/*
 File's template
 */


#guestForm, #guestList {
    display: none;
}

#guestForm label, #guestForm input {
    display: block;
}

.guestDelete {
    background-position: -94px -125px;
    float: none;
    display: inline-block;
    margin: 0px 0 0 0px;
}

#usershareguest-form-domains .guestDelete {
    float: none;
    margin: 0;
}


#guestList .not-active {
    color : #999999;
}

#guestForm .icon-loading-small {
    display: inline-block;
    padding-left: 10px;
}


/*
 Password's setting
 */

#guestConfirm {
    position: relative;
    display: block;
    width: 100%;
}

#guestConfirm p{
    color: #ffffff;
    margin: 25px 0;
    font-size: 20px;
    line-height: 25px;
}

#guestConfirm p.notification {
    font-size: 16px;
    color:#dd1144;
    font-weight: bold;
}

#guestConfirm input {
    font-size: 16px;
    width: 230px !important;
    padding-left: 36px;
    margin: 0;
}

#guestConfirm input[type=submit] {
    margin-top: 25px;
}

#guestConfirm .password-icon{
    position: absolute;
    left: 15px;
    top: 15px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: .3;
}


/*
    Popin
 */
#calque-shareguest-popin {
    display: block;
    position:fixed;
    height: 100%;
    width:100%;
    z-index: 1000;
}

#shareguest-popin {
    display: block;
    position: absolute;
    width: 350px;
    padding: 40px 25px 20px 25px;
    left: 50%;
    top: 30%;
    margin-left: -195px;
    background: #eee;
    border-radius: 5px;
    box-shadow: 0 1px 1px #777;
}

#shareguest-popin .close{
    display: inline-block;
    position: absolute;
    padding: 5px;
    font-weight: bold;
    border: 2px solid #000;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    top: 10px;
    right: 10px;
    line-height: 10px;
    text-align: center;
}

#shareguest-popin button{
    margin-top: 15px;
}

/**
 * Share list
 */

.app-user_share_guest table.multiselect thead {
    left: 0;
}

/* Admin */
#usershareguest-form-domains {
    margin-bottom: 15px;
}

.admin-guest-action {
    display: inline-block;
    vertical-align: top;
}